<footer id="footer">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="col-md-4">
          <ul class="list-unstyled list-inline">
            <h4 class='bold'>Sobre nós</h4>
            <li><%= link_to 'O que é a Hirex', '' %></li>
          </ul>
        </div>

        <div class="col-md-4">
          <h4 class='bold'>Sobre a plataforma</h4>
          <ul class="list-unstyled">
            <li><%= link_to 'Login em minhas vagas', '' %></li>
            <li><%= link_to 'Suporte ao candidato', '' %></li>
          </ul>
        </div>

        <div class="col-md-4">
          <ul class="list-unstyled">
            <li><%= link_to 'Termos de uso', '' %></li>
            <li><%= link_to 'Política de privacidade', '' %></li>
          </ul>
        </div>
      </div>
    </div>

    <hr>
    <div class="row">
      <div class="col-md-12">
        <p class='text-center'>
          <span class='bold'>Hirex</span>.
          Todos os direitos reservados.
        </p>
      </div>
    </div>
  </div>
</footer>